.music-player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .music-player-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .music-player-button:hover {
    opacity: 0.8;
  }
  
  .play,
  .pause {
    font-size: 24px;
  }
  
  .backward,
  .forward {
    font-size: 20px;
  }
  