
.playlist-item {
  display: grid; /* Changed from display: flex; */
  grid-template-columns: auto 1fr; /* Added grid-template-columns: auto 1fr; */
  align-items: center;
  background-color: #f1f1f1; /* Change this to your desired color */
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-header {
  background-color: #1e1e1e; /* Change this to your desired color */
  color: #fff;
  padding: 10px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.modal-header-icon {
  position: absolute;
  bottom: -2px; /* Adjust these values as needed */
  right: 10px;
  color: #fff; /* Change this to your desired icon color */
}
.playlist-item:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.playlist-item-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.playlist-item-details {
  display: flex;
  flex-direction: column; /* Changed from align-items: center; */
  flex-grow: 1;
}

.playlist-item-title {
  font-size: 16px;
  margin-bottom: 0;
  flex-grow: 1;
}

.playlist-item-artist {
  font-size: 12px;
  color: #666;
  margin-left: 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.playlist-items-container {
  overflow-y: auto;
  max-height: 70vh;
  margin-top: 10px;
}

.qr-code-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


/* ... (Rest of the CSS code) */
